@page "/movies"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using pp_lab4_2.Models
@using pp_lab4_2
@implements IAsyncDisposable
@inject IDbContextFactory<pp_lab4_2.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Movies">
    <PropertyColumn Property="movie => movie.Title" Sortable="true" InitialSortDirection="SortDirection.Descending" />
    <PropertyColumn Property="movie => movie.ReleaseDate" Sortable="true" InitialSortDirection="SortDirection.Descending" />
    <PropertyColumn Property="movie => movie.Rate" Sortable="true" InitialSortDirection="SortDirection.Descending" />

    <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
        <a href="@($"movies/details?id={movie.Id}")">Details</a> |
        <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
